.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 0.1rem !important;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
    height: inherit;
}

.sidebar-sticky {
    position: relative;
    top: 0;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
}

@media (min-width: 768px) {
    .sidebar-sticky {
        height: calc(100vh - 60px);
    }
    .continer-fluid, .row {
        height: inherit;
    }
    
}

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}

